#header .header-logo{
  display: none;
}

/* Background */
body {
  background-color: #white; 
}

a, div.save-search-edit span.help{
  color: #346187;
  text-decoration: none;
}

ul.switch li.switch-on.selected{
  background-color: #427cac;
  border-color: #427cac;
}

.projectName{
  background-color: #427cac;
  color:white;
}

#projects-link>div{
  color: #346187;
  font-family: "72",Arial,Helvetica,sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

.condition-REQUIRED, .condition-REQUIRED div{
	background:white;
}


/* Match Results Container Buttons */
#resultscontainer .results .results-header .action-button,
#resultscontainer .results .results-header .action-menu,
#stored-resultscontainer .results .results-header .action-button,
#stored-resultscontainer .results .results-header .action-menu, #resultscontainer .results .resultitems li .more-information .buttons a,
#stored-resultscontainer .results .resultitems li .more-information .buttons a {
  border: 1px solid #ababab;
  background-color: #f7f7f7;
  font-family: "72",Arial,Helvetica,sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #346187;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  #resultscontainer .results .results-header .action-button:hover,
  #resultscontainer .results .results-header .action-menu:hover,
  #stored-resultscontainer .results .results-header .action-button:hover,
  #stored-resultscontainer .results .results-header .action-menu:hover, #resultscontainer .results .resultitems li .more-information .buttons a:hover,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a:hover {
    background-color: rgb(235, 235, 235); }
  #resultscontainer .results .results-header .action-button:active,
  #resultscontainer .results .results-header .action-menu:active,
  #stored-resultscontainer .results .results-header .action-button:active,
  #stored-resultscontainer .results .results-header .action-menu:active, #resultscontainer .results .resultitems li .more-information .buttons a:active,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a:active {
    border: 1px solid #427cac;
    background-color: #427cac;
    color: #FFF; }
  #resultscontainer .results .results-header .disabled.action-button,
  #resultscontainer .results .results-header .disabled.action-menu,
  #stored-resultscontainer .results .results-header .disabled.action-button,
  #stored-resultscontainer .results .results-header .disabled.action-menu, #resultscontainer .results .resultitems li .more-information .buttons a.disabled,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a.disabled {
    filter: opacity(.5);
    background-color: #f7f7f7;
    color: #346187; }

/* Match Results Container */
#resultscontainer,
#stored-resultscontainer {
  background: #eff4f9;
  border: 1px solid #d0d1d5; }

/*   Disabled "Actions" Button */
  #resultscontainer .results .results-header .action-menu-container.disabled .action-menu,
  #stored-resultscontainer .results .results-header .action-menu-container.disabled .action-menu {
    filter: opacity(.5);
    background-color: #eff4f9;
    color: #346187; }

/*   "Actions" Drop-Down Menu   */
  #resultscontainer .results .results-header ul.action-drop-down,
  #stored-resultscontainer .results .results-header ul.action-drop-down {
    border: 1px solid #ababab;
    background-color: #f7f7f7;
    padding: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    z-index: 3; }

/*     "Actions" Drop-Down Items */
    #resultscontainer .results .results-header ul.action-drop-down li.action-list-item,
    #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item {
      padding: 0; }
      #resultscontainer .results .results-header ul.action-drop-down li.action-list-item a,
      #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item a {
        display: block;
        padding: 0 10px;
        line-height: 1.8rem;
        color: #000;
        font-family: "72",Arial,Helvetica,sans-serif;
        font-size: font-size: 0.875rem;
        text-decoration: none; }
        #resultscontainer .results .results-header ul.action-drop-down li.action-list-item a:hover,
        #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item a:hover {
          background-color: #427cac;
          color: #FFF; }
  
/*   Opened Match */
  #resultscontainer .results .resultitems li,
  #stored-resultscontainer .results .resultitems li {
    position: relative; }

    #resultscontainer .results .resultitems li span.field-name,
    #stored-resultscontainer .results .resultitems li span.field-name {
      color: #346187;
    }
    #resultscontainer .results .resultitems li.open,
    #stored-resultscontainer .results .resultitems li.open {
      background: #eff4f9;
      z-index: 2; }
    #resultscontainer .results .resultitems li.selected,
    #stored-resultscontainer .results .resultitems li.selected {
      border-left: 2px solid #eff4f9; }
      #resultscontainer .results .resultitems li.selected .more-information .expanded-metadata-table,
      #stored-resultscontainer .results .resultitems li.selected .more-information .expanded-metadata-table {
        margin-left: 0; }

/*     Opened Match Additional Information Container */
    #resultscontainer .results .resultitems li .more-information,
    #stored-resultscontainer .results .resultitems li .more-information {
      background: #fafafa; }

/*       Data Table */
      #resultscontainer .results .resultitems li .more-information .expanded-metadata-table,
      #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table {
        padding: 0;
        border-spacing: 0;
        border: 1px solid #dddddd;
        width: 525px;
        table-layout: fixed;
        margin-left: 2px; }
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value {
          border-bottom: 1px solid #ddd;
          background-color: #ffffff;
          padding: 5px; }

/*          Left Table Column */
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name {
          font-family: "72",Arial,Helvetica,sans-serif;
          font-size: 0.8rem;
          font-style: normal;
          color: #333333;
          text-align: left;
          padding-left: 10px; }

/*           More / Less Text Option */
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value .moreless,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value .moreless {
          font-family: "72",Arial,Helvetica,sans-serif;
          font-size: 0.8rem;
           }
      
/*       Side Bar Buttons (View Profile, Correct Profile Match tp Jobs) */
      #resultscontainer .results .resultitems li .more-information .buttons,
      #stored-resultscontainer .results .resultitems li .more-information .buttons {
        padding-top: 3px; }
        #resultscontainer .results .resultitems li .more-information .buttons a,
        #stored-resultscontainer .results .resultitems li .more-information .buttons a {
          background: #f7f7f7;
          border: 1px solid #ababab; }
          #resultscontainer .results .resultitems li .more-information .buttons a .label,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a .label {
            font-family: "72",Arial,Helvetica,sans-serif;
            font-size: 0.875rem;
            text-decoration: none;
            font-weight: normal;
            color: #346187; }
          #resultscontainer .results .resultitems li .more-information .buttons a:hover,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a:hover {
            background-color: rgb(235, 235, 235); }
          #resultscontainer .results .resultitems li .more-information .buttons a:active,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a:active{
            border: 1px solid #427cac;
            background-color: #427cac; }
          #resultscontainer .results .resultitems li .more-information .buttons a:active .label,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a:active .label{
            color: #FFF; }

/*     Opened Match Header */
    #resultscontainer .results .resultitems li .result-header-container .result-header-title,
    #stored-resultscontainer .results .resultitems li .result-header-container .result-header-title {
      font-family: "72",Arial,Helvetica,sans-serif;
      font-size: 1rem; }
      #resultscontainer .results .resultitems li .result-header-container .result-header-title .highlighted,
      #stored-resultscontainer .results .resultitems li .result-header-container .result-header-title .highlighted {
        font-weight: 600; }

/* Match Container Tabs  */
div#tabs {
  margin-top: -25px; }
  div#tabs #tabs-dropdown {
    z-index: 4; }
  div#tabs span.tab {
    background: transparent;
    font-family: "72",Arial,Helvetica,sans-serif;
    font-size: 0.82rem;
    font-style: normal;
    margin:auto;
    border: 1px solid #d0d1d5;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: border-box;
    height: 20px; }
    div#tabs span.tab .tab-name,
    div#tabs span.tab .tab-count-wrapper {
      color: #333333; }
    div#tabs span.tab:hover {
      background: #fafafa; }
      div#tabs span.tab:hover.fading a:after {
        background: transparent;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafafa 100%);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafafa 100%);
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafafa 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafafa 100%); }

    /*   Selected Tab */
    div#tabs span.tab.active {
      border: 1px solid #d0d1d5;
      border-bottom: none;
      height: 20px;
      background: #eff4f9; }
      div#tabs span.tab.active.fading a:after {
        background: transparent;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%); }
      div#tabs span.tab.active:hover {
        background: #eff4f9; }
      div#tabs span.tab.active .tab-name,
      div#tabs span.tab.active .tab-count-wrapper {
        color: #000;
        font-weight: 600 }
    div#tabs span.tab.fading a:after {
      background: transparent;
      background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%); }

/* Search Button */
#submitbutton {
  background-image: none;
    background-color: #427cac;
    border-color: #427cac;
    color: #ffffff;
    text-shadow: 0 0 0.125rem #000000; }
  #submitbutton:hover {
    background: rgb(65, 138, 199); }
  #submitbutton:active {
    background: #346187;
    border-color: #346187;
    text-shadow: none; }

/* Sorting Drop-Down */
#sorting-container select {
  font-size: 0.875rem;
  font-family: "72",Arial,Helvetica,sans-serif;
  line-height: normal; }

/* Sidebar Input Text */
#sidebar div.row input[type=text], #sidebar div.row.tagcloud-input input[type=text] {
  outline: none;
  line-height: 1.5rem;
  border: 1px solid #bfbfbf !important;
  padding: 4px 4px;
  background-color: #FFF !important;
  font-family: "72",Arial,Helvetica,sans-serif;
  font-size: 0.875rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Sidebar */
#sidebarWrapper {
  margin-top:2px;
  background: #eff4f9;
  padding: 10px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  }

/* Sidebar Text */
#sidebar {
  border-top: 0; }
  #sidebar > .facet .facet-name,
  #sidebar > .facet .facetgroup-name,
  #sidebar > .facetgroup .facet-name,
  #sidebar > .facetgroup .facetgroup-name {
    font-family: "72",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-shadow: none; }
    #sidebar > .facet .facet-name:hover,
    #sidebar > .facet .facetgroup-name:hover,
    #sidebar > .facetgroup .facet-name:hover,
    #sidebar > .facetgroup .facetgroup-name:hover {
      text-shadow: none; }
  #sidebar div.textfieldfacetrows div.row input[type=text] {
    width: 95%; }
  #sidebar div.row.tagcloud-input input[type=text] {
    width: 95%; }

/* Radio Button Labels */
#sidebar .radiobuttons label{
  font-family: "72",Arial,Helvetica,sans-serif;
  font-size: 0.7rem;
}


/* Search Input Field */
#searchbox .outlined {
  outline: none !important; }
#searchbox .stretchable {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 1.8rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Container */
#breadcrumbs-container {
  background: #eff4f9;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Hover */
#breadcrumbs .synonym-widget.fancy-hover,
#breadcrumbs .synonym-hover.fancy-hover {
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0 2px 2px;
  -moz-border-radius: 0 2px 2px;
  border-radius: 0 2px 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Group */
div.breadcrumb-group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; 
  background: #91c8f6}

/* Loading Icon */
#content #spinner {
  border-color: #427cac; }
  #content #spinner:after {
    border-color: #427cac;
    background: #427cac; }

/* Project Tags */
#content #spqr #active-project {
  min-height: 18px; }
  #content #spqr #active-project #actie-project-label {
    padding: 3px 4px;
    font-size: 12px;
    background: #427cac; }
#content #spqr #active-project-icons * {
  height: 18px; }
/*   Close Tag */
#content #spqr #active-project-icons #active-project-close {
  background-position: -48px -308px; }
#content #spqr #active-project-label {
  background-color: #346187;
  min-height: 14px;
  padding-top: 4px; }
