@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800&v=10.6.0&l=en");
#header {
  zoom: 1;
  display: block;
  height: 1%;
  clear: both; }
  #header:before, #header:after {
    content: "";
    display: table; }
  #header:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0; }

/* Background */
body {
  background-color: #E9EAED; }

/* Header Panel */

/* Header Bottom Separator */
#header {
  border-bottom: 1px solid #d0d1d5;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

/*   Header Background */
  #header div.header-logo {
    background: #FFF;
    background-position: 50% 50%; }

/* Logo */
  #header h1 {
    height: 35px;
    background: url("../img/match-tk-large.png") 0 50% no-repeat;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$logo-url, sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$logo-url, sizingMethod='scale')";
    background-size: contain;
    margin-top: 7px; }

/*   Header Actions   */
  #header ul {
    line-height: 50px;
    margin-top: 0; }
    #header ul li a {
      color: #009CC1;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 11px; }

#header-img {
  display: none !important; }


/* Match Results Container Buttons */
#resultscontainer .results .results-header .action-button,
#resultscontainer .results .results-header .action-menu,
#stored-resultscontainer .results .results-header .action-button,
#stored-resultscontainer .results .results-header .action-menu, #resultscontainer .results .resultitems li .more-information .buttons a,
#stored-resultscontainer .results .resultitems li .more-information .buttons a {
  border: 1px solid #d0d1d5;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  #resultscontainer .results .results-header .action-button:active,
  #resultscontainer .results .results-header .action-menu:active,
  #stored-resultscontainer .results .results-header .action-button:active,
  #stored-resultscontainer .results .results-header .action-menu:active, #resultscontainer .results .resultitems li .more-information .buttons a:active,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a:active {
    border: 1px solid #a8a9b1;
    background: #E9EAED;
    -webkit-box-shadow: inset 0px 2px 1px rgba(204, 204, 204, 0.3);
    -moz-box-shadow: inset 0px 2px 1px rgba(204, 204, 204, 0.3);
    box-shadow: inset 0px 2px 1px rgba(204, 204, 204, 0.3); }
  #resultscontainer .results .results-header .action-button:hover,
  #resultscontainer .results .results-header .action-menu:hover,
  #stored-resultscontainer .results .results-header .action-button:hover,
  #stored-resultscontainer .results .results-header .action-menu:hover, #resultscontainer .results .resultitems li .more-information .buttons a:hover,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a:hover {
    border: 1px solid #c3c4c9;
    background: #F7F7F7; }
  #resultscontainer .results .results-header .disabled.action-button,
  #resultscontainer .results .results-header .disabled.action-menu,
  #stored-resultscontainer .results .results-header .disabled.action-button,
  #stored-resultscontainer .results .results-header .disabled.action-menu, #resultscontainer .results .resultitems li .more-information .buttons a.disabled,
  #stored-resultscontainer .results .resultitems li .more-information .buttons a.disabled {
    background: #eee; }

/* Match Results Container */
#resultscontainer,
#stored-resultscontainer {
  background: #F5F7F7;
  border: 1px solid #d0d1d5; }

/*   Disabled "Actions" Button */
  #resultscontainer .results .results-header .action-menu-container.disabled .action-menu,
  #stored-resultscontainer .results .results-header .action-menu-container.disabled .action-menu {
    background: #eee; }

/*   "Actions" Drop-Down Menu   */
  #resultscontainer .results .results-header ul.action-drop-down,
  #stored-resultscontainer .results .results-header ul.action-drop-down {
    border: 1px solid #CCC;
    padding: 0;
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    z-index: 3; }

/*     "Actions" Drop-Down Items */
    #resultscontainer .results .results-header ul.action-drop-down li.action-list-item,
    #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item {
      padding: 0; }
      #resultscontainer .results .results-header ul.action-drop-down li.action-list-item a,
      #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item a {
        display: block;
        padding: 0 10px;
        line-height: 24px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-size: 11px; }
        #resultscontainer .results .results-header ul.action-drop-down li.action-list-item a:hover,
        #stored-resultscontainer .results .results-header ul.action-drop-down li.action-list-item a:hover {
          background: #009fc3;
          color: #FFF; }
  
/*   Opened Match */
  #resultscontainer .results .resultitems li,
  #stored-resultscontainer .results .resultitems li {
    position: relative; }
    #resultscontainer .results .resultitems li.open,
    #stored-resultscontainer .results .resultitems li.open {
      background: #eef7fc;
      -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
      z-index: 2; }
    #resultscontainer .results .resultitems li.selected,
    #stored-resultscontainer .results .resultitems li.selected {
      border-left: 2px solid #d9ecf8; }
      #resultscontainer .results .resultitems li.selected .more-information .expanded-metadata-table,
      #stored-resultscontainer .results .resultitems li.selected .more-information .expanded-metadata-table {
        margin-left: 0; }

/*     Opened Match Additional Information Container */
    #resultscontainer .results .resultitems li .more-information,
    #stored-resultscontainer .results .resultitems li .more-information {
      background: #FFF; }

/*       Data Table */
      #resultscontainer .results .resultitems li .more-information .expanded-metadata-table,
      #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table {
        padding: 0;
        border-spacing: 0;
        width: 523px;
        table-layout: fixed;
        margin-left: 2px; }
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value {
          border-top: 1px solid #fff;
          background-color: #eee;
          padding: 5px; }

/*          Left Table Column */
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-name {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #000;
          font-size: 11px;
          font-style: normal;
          text-align: left;
          padding-left: 10px; }

/*           More / Less Text Option */
        #resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value .moreless,
        #stored-resultscontainer .results .resultitems li .more-information .expanded-metadata-table .expanded-field-value .moreless {
          background: linear-gradient(to right, rgba(238, 238, 238, 0.01) 0, #eeeeee 20%, #eeeeee 100%);
          font-family: "Open Sans", sans-serif;
          font-size: 11px;
          font-weight: 600; }
      
/*       Side Bar Buttons (View Profile, Correct Profile Match tp Jobs) */
      #resultscontainer .results .resultitems li .more-information .buttons,
      #stored-resultscontainer .results .resultitems li .more-information .buttons {
        padding-top: 5px; }
        #resultscontainer .results .resultitems li .more-information .buttons a,
        #stored-resultscontainer .results .resultitems li .more-information .buttons a {
          background: #FFF;
          line-height: 20px;
          border: none; }
          #resultscontainer .results .resultitems li .more-information .buttons a:hover,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a:hover {
            border: none; }
          #resultscontainer .results .resultitems li .more-information .buttons a .label,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a .label {
            color: #009fc3;
            font-family: "Open Sans", sans-serif;
            font-size: 11px;
            font-weight: normal; }
          #resultscontainer .results .resultitems li .more-information .buttons a .button-menu-down,
          #stored-resultscontainer .results .resultitems li .more-information .buttons a .button-menu-down {
            background: none; }
            #resultscontainer .results .resultitems li .more-information .buttons a .button-menu-down:after,
            #stored-resultscontainer .results .resultitems li .more-information .buttons a .button-menu-down:after {
              content: '\25BC';
              position: relative;
              top: -2px;
              color: #009fc3; }

/*     Opened Match Header */
    #resultscontainer .results .resultitems li .result-header-container .result-header-title,
    #stored-resultscontainer .results .resultitems li .result-header-container .result-header-title {
      font-family: "Open Sans", sans-serif;
      font-size: 11px; }
      #resultscontainer .results .resultitems li .result-header-container .result-header-title .highlighted,
      #stored-resultscontainer .results .resultitems li .result-header-container .result-header-title .highlighted {
        font-weight: 600; }
/*     check if this is displayed at all */
    #resultscontainer .results .resultitems li .tags .tag,
    #stored-resultscontainer .results .resultitems li .tags .tag {
      padding: 4px;
      font-size: 11px;
      background: rgba(0, 156, 193, 0.75); }

/* Match Container Tabs  */
div#tabs {
  margin-top: -25px; }
  div#tabs #tabs-dropdown {
    z-index: 4; }
  div#tabs span.tab {
    background: #009CC1;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    border: none;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    height: 20px; }
    div#tabs span.tab .tab-name,
    div#tabs span.tab .tab-count-wrapper {
      color: #FFF; }
    div#tabs span.tab:hover {
      background: #00b1db; }
      div#tabs span.tab:hover.fading a:after {
        background: transparent;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #00b1db 100%);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #00b1db 100%);
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #00b1db 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #00b1db 100%); }

    /*   Selected Tab */
    div#tabs span.tab.active {
      border: 1px solid #d0d1d5;
      border-bottom: none;
      height: 20px;
      background: #eef7fc; }
      div#tabs span.tab.active.fading a:after {
        background: transparent;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eef7fc 100%); }
      div#tabs span.tab.active:hover {
        background: #F5F7F7; }
      div#tabs span.tab.active .tab-name,
      div#tabs span.tab.active .tab-count-wrapper {
        color: #000; }
    div#tabs span.tab.fading a:after {
      background: transparent;
      background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #009CC1 100%);
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #009CC1 100%);
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #009CC1 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #009CC1 100%); }

/* Search Button */
#submitbutton {
  background: #e67e22;
  border: none;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 7px 15px 7px 10px;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px -2px 0px 0px #bf6516;
  -moz-box-shadow: inset 0px -2px 0px 0px #bf6516;
  box-shadow: inset 0px -2px 0px 0px #bf6516;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s; }
  #submitbutton:hover {
    background: #f39c12; }

/* Sorting Drop-Down */
#sorting-container select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Sidebar Input Text */
#sidebar div.row input[type=text], #sidebar div.row.tagcloud-input input[type=text] {
  outline: none;
  line-height: 16px;
  border: 1px solid #b5b7bd !important;
  padding: 2px 3px;
  background-color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Sidebar */
#sidebarWrapper {
  background: #F5F7F7;
  padding: 10px;
  border: 1px solid #d0d1d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  }

/* Sidebar Text */
#sidebar {
  border-top: 0; }
  #sidebar > .facet .facet-name,
  #sidebar > .facet .facetgroup-name,
  #sidebar > .facetgroup .facet-name,
  #sidebar > .facetgroup .facetgroup-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-shadow: none; }
    #sidebar > .facet .facet-name:hover,
    #sidebar > .facet .facetgroup-name:hover,
    #sidebar > .facetgroup .facet-name:hover,
    #sidebar > .facetgroup .facetgroup-name:hover {
      text-shadow: none; }
  #sidebar div.textfieldfacetrows div.row input[type=text] {
    width: 95%; }
  #sidebar div.row.tagcloud-input input[type=text] {
    width: 95%; }

/* Search Input Field */
#searchbox .outlined {
  outline: none !important; }
#searchbox .stretchable {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Container */
#breadcrumbs-container {
  background: #F5F7F7;
  border: 1px solid #d0d1d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Hover */
#breadcrumbs .synonym-widget.fancy-hover,
#breadcrumbs .synonym-hover.fancy-hover {
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0 2px 2px;
  -moz-border-radius: 0 2px 2px;
  border-radius: 0 2px 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Search Tag Group */
div.breadcrumb-group {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/* Loading Icon */
#content #spinner {
  border-color: #009CC1; }
  #content #spinner:after {
    border-color: #009CC1;
    background: #009CC1; }

/* Project Tags */
#content #spqr #active-project {
  min-height: 18px; }
  #content #spqr #active-project #actie-project-label {
    padding: 3px 4px;
    font-size: 12px;
    background: #12bcd0; }
#content #spqr #active-project-icons * {
  height: 18px; }
/*   Close Tag */
#content #spqr #active-project-icons #active-project-close {
  background-position: -48px -308px; }
#content #spqr #active-project-label {
  background-color: rgba(0, 156, 193, 0.75);
  min-height: 14px;
  padding-top: 4px; }


<<<<<<< HEAD
    background-position: -125px -386px; }
=======
    background-position: -125px -386px; }
>>>>>>> 66d418ac40b19c16d6c619bb97ac44d39da6d1af
